[submodule "src/huggingface-mqtl-classification-using-dnabert-6"]
	path = src/huggingface-mqtl-classification-using-dnabert-6
	url = https://huggingface.co/spaces/fahimfarhan/mqtl-classification-using-dnabert-6
