pandas
numpy
matplotlib
scipy
shap
scikit-learn
skorch==1.0.0
six
hyperopt
requests
pyyaml
Bio
plotly
Levenshtein
# pytorch
captum
torch==2.3.0
torchvision
torchaudio
torchsummary
torcheval
pydot
pydotplus
torchviz