accelerate  # required by HayenaDNA
datasets
pandas
polars
numpy
matplotlib
scipy
shap
scikit-learn
skorch==1.0.0
six
hyperopt
requests
pyyaml
Bio
plotly
Levenshtein
# pytorch
captum
torch==2.4.0
torchvision
torchaudio
torchsummary
torcheval
pydot
pydotplus
PySide2  # matplotlib dependency on ubuntu. you may need sth else for other os/env setup
torchviz
gReLU # luckily now available in pip!
# gReLU @ git+https://github.com/Genentech/gReLU # @623fee8023aabcef89f0afeedbeafff4b71453af
# lightning[extra]  # cz I got a stupid warning in the console logs
torchmetrics
transformers
huggingface-hub
python-dotenv